<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>simple Chat Room</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
<ul class="pages">
    <li class="chat page">
        <div class="chatArea">
            <ul class="messages"></ul>
        </div>
        <input class="inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
        <div class="form">
            <h3 class="title">What's your nickname?</h3>
            <input class="usernameInput" type="text" maxlength="14" />
        </div>
    </li>
</ul>



<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js" type="text/javascript"></script>
<script src="/js/app.js"></script>
<script  type="text/javascript">

    $(function () {
        var FADE_TIME = 150; // ms
        var COLORS = [
            '#e21400', '#91580f', '#f8a700', '#f78b00',
            '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
            '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
        ];

        // Initialize variables
        var $window = $(window);
        var $usernameInput = $('.usernameInput'); // 昵称
        var $messages = $('.messages'); // 消息区域
        var $inputMessage = $('.inputMessage'); // 消息框
        var $loginPage = $('.login.page'); // 登录页
        var $chatPage = $('.chat.page'); // 聊天室页


        // 构建聊天业务CHAT
        window.CHAT = {
            socket: null,
            record: null,
            unSignMsgIds: null,
            init: function () {
                if (window.WebSocket) {

                    // 如果当前的状态已经连接，那就不需要重复初始化websocket
                    if (CHAT.socket != null
                        && CHAT.socket != undefined
                        && CHAT.socket.readyState == WebSocket.OPEN) {
                        return false;
                    }

                    CHAT.socket = new WebSocket("ws://192.168.43.83:8011/ws");
                    CHAT.socket.onopen = CHAT.wsopen,
                        CHAT.socket.onclose = CHAT.wsclose,
                        CHAT.socket.onerror = CHAT.wserror,
                        CHAT.socket.onmessage = CHAT.wsmessage;
                } else {
                    alert("手机设备过旧，请升级手机设备...");
                }
            },
            chat: function (msg) {

                // 如果当前websocket的状态是已打开，则直接发送， 否则重连
                if (CHAT.socket != null
                    && CHAT.socket != undefined
                    && (CHAT.socket.readyState == WebSocket.OPEN || CHAT.socket.readyState == WebSocket.CONNECTING)
                ) {
                    CHAT.socket.send(msg);
                } else {
                    // 重连websocket
                    CHAT.init();
                    setTimeout("CHAT.reChat('" + msg + "')", "10000");
                }
            },
            getRecord: function (senderId, receiverId) {
                //发起请求
                $.ajax({
                    url: '/chat/record?senderId=' + senderId + '&receiverId=' + receiverId,
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        var result = eval(data);
                        CHAT.record = result.data;

                        $.each(CHAT.record, function (n, value) {
                            if(value.signMark == 0){
                                CHAT.unSignMsgIds = value.id+",";
                            }
                        });
                    }
                });
            },
            reChat: function (msg) {
                console.log("消息重新发送...");
                CHAT.socket.send(msg);
            },
            wsopen: function () {

                console.log("websocket连接已建立...");
                connected = true;
                // 构建ChatMsg
                var receiverId = getFriend(username);
                var chatMsg = new app.ChatMsg(username, receiverId, null, null);
                // 构建Chat
                var chat = new app.Chat(app.CONNECT, chatMsg, null);
                // 发送websocket
                //签收消息
                if(CHAT.unSignMsgIds){
                    chat.extand = CHAT.unSignMsgIds;
                }
                CHAT.chat(JSON.stringify(chat));
                // 定时发送心跳
                setInterval("CHAT.keepalive()", 10000);
            },
            wsmessage: function (e) {
                debugger;
                var chat;
                // 转换Chat为对象
                if (e.data == "PONG") {
                    console.log("心跳接收到");
                    return
                }else{
                    chat = JSON.parse(e.data);
                }
                if( $.isArray(chat)){
                    for(var i=0;i<chat.length;i++){
                        addSignStatus(chat[i]);
                    }
                    return;
                }
                addChatMessage({username: chat.chatMsg.senderId, message: chat.chatMsg.msg,id:chat.chatMsg.id}, null, "receive");
            },
            wsclose: function () {
                connected = false;
                CHAT.socket.close();
                console.log("连接关闭...");
            },
            wserror: function () {
                connected = false;
                console.log("发生错误...");
                CHAT.socket.close();
                setTimeout("CHAT.init()", "10000");
            },
            keepalive: function () {
                // 构建对象
                var chat = new app.Chat(app.KEEPALIVE, null, null);

                // 发送心跳
                CHAT.chat(JSON.stringify(chat));
            }
        };


        // Prompt for setting a username
        var username;
        var connected = false; // 连接状态
        var $currentInput = $usernameInput.focus();



        // 设置昵称
        function setUsername() {
            // 收到进入房间的响应 包含房间信息
            username = cleanInput($usernameInput.val().trim());
            log(username + "的聊天窗口");
            if (username) {
                $loginPage.fadeOut();
                $chatPage.show();
                $loginPage.off('click');
                $currentInput = $inputMessage.focus();
                if (CHAT.record == null) {
                    var receiverId = getFriend(username);
                    CHAT.getRecord(username, receiverId);
                }
                $.each(CHAT.record, function (n, value) {
                    addChatMessage({
                        username: value.senderId,
                        message: value.msg,
                        signMark: value.signMark,
                        id: value.id
                    }, null, value.senderId == username ? "send" : "receive");
                });
                CHAT.init();
            }
        }

        //获取id
        function getId() {
            var id;
            $.ajax({
                url: '/chat/id',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (data) {
                    id = data;
                }
            });
            return id;
        }
        // 输出日志信息
        function log(message, options) {
            var $el = $('<li>').addClass('log').text(message);
            addMessageElement($el, options);
        }

        //签收消息
        function  addSignStatus(data){
            var $statusDiv = $('<div class="status">');
            $('#'+data).prepend($statusDiv);
        }

        // 输出聊天信息
        function addChatMessage(data, options, msgType) {
            options = options || {};
            var $headImgDiv = $('<img class="headImg" src />');
            var $messageBodyDiv = $('<span class="messageBody">').text(data.message);
            var $statusDiv = $('<div class="status">');

            var typingClass = data.typing ? 'typing' : '';
            var $messageDiv;
            if(data.username == "lucas"){
                $headImgDiv.attr("src",app.SENDERIMG);
            }else{
                $headImgDiv.attr("src",app.RECEIVERIMG);
            }

            if (msgType == "send") {
                debugger;
                if(data.signMark == 1){
                    $messageDiv = $('<li class="sendMsg" />')
                        .addClass(typingClass)
                        .append($statusDiv,$messageBodyDiv, $headImgDiv);
                }else{
                    $messageDiv = $('<li class="sendMsg"/>')
                        .addClass(typingClass)
                        .append($messageBodyDiv, $headImgDiv);
                }
                $messageDiv.attr("id",data.id);

            } else {
                $messageDiv = $('<li class="receiveMsg" />')
                    .data('username', data.username)
                    .addClass(typingClass)
                    .append($headImgDiv, $messageBodyDiv);
            }

            addMessageElement($messageDiv, options);
        }

        // DOM 操作

        function addMessageElement(el, options) {
            var $el = $(el);

            if (!options) {
                options = {};
            }
            if (typeof options.fade === 'undefined') {
                options.fade = true;
            }
            if (typeof options.prepend === 'undefined') {
                options.prepend = false;
            }

            if (options.fade) {
                $el.hide().fadeIn(FADE_TIME);
            }
            if (options.prepend) {
                $messages.prepend($el);
            } else {
                $messages.append($el);
            }
            $messages[0].scrollTop = $messages[0].scrollHeight;
        }

        // 清除输入框中注入的信息
        function cleanInput(input) {
            return $('<div/>').text(input).html();
        }

        // 通过 hash 函数给用户名上色
        function getUsernameColor(username) {

            var hash = 7;
            for (var i = 0; i < username.length; i++) {
                hash = username.charCodeAt(i) + (hash << 5) - hash;
            }
            // 计算颜色下标
            var index = Math.abs(hash % COLORS.length);
            return COLORS[index];
        }

        //获取聊天好友
        function getFriend(username) {
            var result;
            $.ajax("/chat/friendId/" + username, {
                dataType: 'json',
                type: 'get',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                data: {},
                async: false,
                success: function (data) {
                    result = eval(data).data;
                }
            })
            return result;

        }

        // Keyboard events

        $window.keydown(function (event) {
            // 回车后依旧获取焦点
            if (!(event.ctrlKey || event.metaKey || event.altKey)) {
                $currentInput.focus();
            }
            // 监听回车键
            if (event.which === 13) {
                if (username) {
                    sendMessage();
                } else {
                    setUsername();
                }
            }
        });

        // 获取焦点
        $loginPage.click(function () {
            $currentInput.focus();
        });


        // 发送消息
        function sendMessage() {
            if (connected) {
                // 构建ChatMsg
                var receiveId = getFriend(username);
                var msg = cleanInput($inputMessage.val());
                debugger
                var id = getId();
                var chatMsg = new app.ChatMsg(username, receiveId, msg,id);
                // 构建Chat
                var chat = new app.Chat(app.CHAT, chatMsg, null);
                CHAT.chat(JSON.stringify(chat));
                addChatMessage({username: username, message: chat.chatMsg.msg ,id: chat.chatMsg.id}, null, "send");
                $inputMessage.val("");
            } else {
                log("与服务器断开连接了，刷新重新连接~");
            }
        }

    });
</script>
</body>
</html>